/* Signup.css */

.Signup {
  background-color: #f8f9fa; /* Change this to your desired background color */
  padding: 2rem;
  border-radius: 0.5rem;
}

.App-header {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.form-horizontal .form-group {
  margin-bottom: 1rem;
}

.form-horizontal .form-group .col-form-label {
  text-align: left;
  padding-right: 100px;

  white-space: nowrap; /* Prevent label text from wrapping */
}

.form-horizontal .form-group .form-control {
  display: inline-block;
  width: 100%;
  padding: 10px;
}
